<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.enlight.anima.animamagiccards">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_real_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity android:name=".ui.HomePageActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.witchspells.WitchspellsEditionActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.witchspells.WitchspellsMainPathChooserActivity" />

        <activity android:name=".ui.spells.SpellSelectionActivity" />

    </application>

</manifest>